<div id="recommendations-container">
		<%= link_to "More","#", id: "#{@friend_id}", class: "btn btn-info more" %>
	<rec id="recommendations">
		<% @recommendations[:recommendations].each do |r| %>
			<div class="recommendation-box">
			<div data-item-id="<%= r['result_id'] %>" class="recommendation"><%= image_tag(r['image_url'], width: "100")%></div>
			  <%= link_to "Like", '#', class: "btn like", id: "like-#{r['result_id']}" %>
  			<%= link_to "Dislike", "#", class: "btn btn-danger dislike", id: "dislike-#{r['result_id']}" %>
			</div>
		<% end %>
	</div>
	<div id="trash">
	</div>
</div>

